/*
Template Areas


Layout based on Grid CSS Template areas

Markup: 
<div class="template-area container">
    <div class="header">HEADER</div>
    <div class="menu">MENU</div>
    <div class="content">CONTENT</div>
    <div class="footer">FOOTER</div>
</div>

Style guide: template-areas
*/

.template-area {
    height: 100%;
    min-height: 500px;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px;   // The auto makes the trick

    grid-template-areas: 
        "m . h h h h h h h h h ."
        "m c c c c c c c c c c c"
        "m . f f f f f f f f f .";


    .header {
        grid-area: h;
    }
    .menu {
        grid-area: m;
    }
    
    .content {
        grid-area: c;
    }
    .footer{
        grid-area: f;
    }
}
