
/*
Grid

Grid based layout

Markup: grid.html

Style guide: grid
*/

.grid-container {
    display: grid;
    height: 500px;;
    grid-template: repeat(2, 200px) / repeat(3, 300px);
    grid-gap: 5px;

    /* start, end, center, stretch, space-around, space-between or space evenly */
    justify-content: space-evenly   ;
    align-content: space-around ;
}